.admin-panel{
    border: 1px solid gray;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;   
    padding: 15px;
}

.admin-panel a {
    display: block;
    margin: 5px 0;
}