{% load static %}
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>

    {% include 'blog/inc_navbar.html' %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% if request.user.is_authenticated and request.user.is_staff %}
    {% include 'blog/inc_admin_panel.html' %}
    {% endif %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
$('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
$('select').formSelect();
$('.fixed-action-btn').floatingActionButton();
});
</script>
</body>
</html>
