{% extends 'blog/layout.html' %}
{% block content %}
    <div class="row">
        <div class="container center"><h3>Post with '{{ tag.title }}' tag:</h3></div>
        {% for post in tag.posts.all %}
        <div class="container">
            <div class="col s12">
                <div class="card purple lighten-5">
                    <div class="card-content black-text">
                        <span class="card-title">{{ post.title }}</span>
                        <p>
                            {{ post.body|truncatechars:60 }}
                        </p>
                    </div>
                    <div class="card-action ">
                        <a href="{% url 'post_detail_url' det_slug=post.slug %}" class="waves-effect waves-light btn purple lighten-4">Read...</a>
                        <p class="right deep-purple-text text-darken-3">{{ post.date_pub }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}